@{
    ViewBag.Title = "文章列表";
    Layout = "~/Areas/MasterManage/Views/Shared/_LayoutIndex.cshtml";
}

<script>
    $(function () {
        $('#layout').layout();
        treeView();
        gridList();
    });
    function treeView() {
        $("#itemTree").treeview({
            url: "/ArticleManage/Article/GetNavTreeJson",
            onnodeclick: function (item) {
                $("#txt_keyword").val('');
                $('#btn_search').trigger("click");
            }
        });
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/ArticleManage/Article/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '标题', name: 'F_Title', width: 300, align: 'left' },
                { label: '阅读量', name: 'F_ReadCount', width: 80, align: 'center' },
                { label: '点赞', name: 'F_LikeCount', width: 80, align: 'center' },
                { label: '吐槽', name: 'F_HateCount', width: 80, align: 'center' },
                { label: '排序', name: 'F_SortCode', width: 80, align: 'center' },
                {
                    label: "发布", name: "F_EnabledMark", width: 80, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: "开启评论", name: "F_Ismsg", width: 80, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                 {
                     label: "热门", name: "F_Ishot", width: 80, align: "center",
                     formatter: function (cellvalue) {
                         return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                     }
                 },
                  {
                      label: "推荐", name: "F_Isrecommend", width: 80, align: "center",
                      formatter: function (cellvalue) {
                          return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                      }
                  },
                   {
                       label: "置顶", name: "F_IsTop", width: 80, align: "center",
                       formatter: function (cellvalue) {
                           return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                       }
                   },
                {
                    label: '创建时间', name: 'F_CreatorTime', width: 100, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                }
            ],
            pager: "#gridPager",
            sortname: 'F_SortCode asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            var navId = "";
            if ($("#itemTree").getCurrentNode() != undefined) {
                navId = $("#itemTree").getCurrentNode().id;
            }
            $gridList.jqGrid('setGridParam', {
                postData: { navId: navId, keywords: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        var selNode = $("#itemTree").getCurrentNode();
        var itemId = "", itemName = "", title = "";
        if (selNode != undefined) {
            itemId = selNode.id;
            itemName = selNode.text;
            title = itemName + " 》";
        }
        $.modalOpen({
            id: "Form",
            title: title + "新增文章",
            url: "/ArticleManage/Article/Form?NavId=" + itemId,
            width: "1200px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var itemName = $("#gridList").jqGridRowValue().F_Title;
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: itemName + " 》修改",
            url: "/ArticleManage/Article/Form?keyValue=" + keyValue,
            width: "1200px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/ArticleManage/Article/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_look() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看文章",
            url: "/ArticleManage/Article/Details?keyValue=" + keyValue,
            width: "1200px",
            height: "700px",
            btn: null,
        });
    }
    function btn_nav() {
        $.modalOpen({
            id: "Navigation",
            title: "文章类别管理",
            url: "/ArticleManage/Article/Navigation",
            width: "900px",
            height: "600px",
            btn: null,
        });
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div class="btn-group">
                    <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text "
                       onclick="btn_add()">
                        <i class="fa fa-plus"></i>添加文章
                    </a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a id="NF-nav" authorize="yes" onclick="btn_nav()" href="javascript:void()">分类管理</a></li>
                    </ul>
                </div>
                <div class="operate">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改文章</a></li>
                        <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除文章</a></li>
                        <li><a id="NF-look" authorize="yes" onclick="btn_look()"><i class="fa fa-search-plus"></i>查看文章</a></li>
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>
                <script>$('.toolbar').authorizeButton()</script>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="名称/编号" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>
