@{
    ViewBag.Title = "Navigation";
    Layout = "~/Areas/MasterManage/Views/Shared/_Index.cshtml";
}

<script>
    $(function () {
        gridList();
    })
    function gridList() {
        $("#gridList").dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "F_EnCode",
            url: "/ArticleManage/Article/GetNavTreeGridJson",
            height: $(window).height() - 90,
            colModel: [
                 { label: "主键", name: "F_Id", hidden: true, key: true },
                 { label: '名称', name: 'F_Name', width: 200, align: 'left' },
                 { label: '编号', name: 'F_EnCode', width: 80, align: 'left' },
                 { label: '排序', name: 'F_SortCode', width: 80, align: 'center' },
                 {
                      label: '首页导航', name: 'F_IsNav', width: 60, align: 'center',
                      formatter: function (cellvalue) {
                          return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                      }
                 },
                 {
                     label: '首页推荐', name: 'F_IsRecommend', width: 60, align: 'center',
                     formatter: function (cellvalue) {
                         return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                     }
                 },
                 {
                     label: '头部导航', name: 'F_IsHeader', width: 60, align: 'center',
                     formatter: function (cellvalue) {
                         return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                     }
                 },
                 {
                     label: "有效", name: "F_EnabledMark", width: 60, align: "center",
                     formatter: function (cellvalue) {
                         return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                     }
                 },
                 { label: "备注", name: "F_Description", index: "F_Description",align: "left" }
            ]
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增类别",
            url: "/ArticleManage/Article/NavForm",
            width: "600px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改类别",
            url: "/ArticleManage/Article/NavForm?keyValue=" + keyValue,
            width: "600px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/ArticleManage/Article/DeleteNavForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_special() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "专题管理",
            url: "/ArticleManage/Special/List?NavigationId=" + keyValue,
            width: "250px",
            height: "450px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_respecial() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "专题推荐管理",
            url: "/ArticleManage/Special/ReList?NavigationId=" + keyValue,
            width: "250px",
            height: "450px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
</script>
<div class="topPanel" style="border: 0px;">
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add"  class="btn btn-primary" onclick="btn_add()"><i class="fa fa-plus"></i>新建分类</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改分类</a></li>
                <li><a id="NF-delete" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除分类</a></li>
                <li class="split"></li>
                <li><a id="NF-special" onclick="btn_special()"><i class="fa fa-gavel"></i>专题管理</a></li>
                <li><a id="NF-respecial" onclick="btn_respecial()"><i class="fa fa-gavel"></i>专题推荐管理</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <style>
        .ui-jqgrid {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
        }
    </style>
</div>
